                
        </div>

        <footer>
            <div class="row">
                <div class="col-md-10">
                    <hr/>
                    <h3>Footer</h3>
                </div>    
            </div>
        </footer>

    </body>
</html>